{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdministrateurController!{% endblock %}

{% block body %}
<style>
    #h1 { color: blue;}
    .titre1 { color: black;}
    .heure { background: #189E4B; }
    .container { }
</style>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 class="titre1">Bienvenue Mr <span id="h1">{{ app.user.nom }} </span> sur la page d'aministration de la AJVEG</h3>
                <img src="{{asset("Template_user/img/logo_ajveg.png")}}" class="img-responsive"/>
            </div>
            <div class="col-md-4">
                <h3 class="titre1">{{ "now"|date("m-d-Y  H:i") }}</h3>
            </div>
            <div class="col-md-2">
                
            </div>
        </div>
    </div>
    
   
 
{% endblock %}
