{% extends 'base_admin.html.twig' %}

{% block title %}Edit Projet{% endblock %}

{% block body %}
    <h1>Modifier le Projet</h1>

    {{ include('projet/_form.html.twig', {'button_label': 'Modifier'}) }}
     <br>
    <a href="{{ path('projet_index') }}"><span class="btn btn-info">Retour</span></a>
    <br>
    {{ include('projet/_delete_form.html.twig') }}
{% endblock %}
