{% extends 'base_admin.html.twig' %}

{% block title %}Edit Mission{% endblock %}

{% block body %}
    <h1>Modifier la mission</h1>

    {{ include('mission/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('mission_index') }}"><span class="btn btn-info">Retour</span></a>

    {{ include('mission/_delete_form.html.twig') }}
{% endblock %}
 