{% extends 'base_admin.html.twig' %}

{% block title %}New Mission{% endblock %}

{% block body %}
    <h1>Ajouter la mission</h1>

    {{ include('mission/_form.html.twig') }}

    <a href="{{ path('mission_index') }}"><span class="btn btn-info">Retour</span></a>
{% endblock %}
