{% extends 'base_admin.html.twig' %}

{% block title %}Edit Historique{% endblock %}

{% block body %}
    <h1>Modifier l'historique</h1>

    {{ include('historique/_form.html.twig', {'button_label': 'Modifier'}) }}
     <br>
    <a href="{{ path('historique_index') }}"><span class="btn btn-info">Retour</span></a>
     <br>
    {{ include('historique/_delete_form.html.twig') }}
{% endblock %}
 