{% extends 'base_admin.html.twig' %}

{% block title %}New Historique{% endblock %}

{% block body %}
    <h1>Ajouter l'historique</h1>

    {{ include('historique/_form.html.twig') }}
         <br>
    <a href="{{ path('historique_index') }}"><span class="btn btn-info">Retour</span></a> 
{% endblock %}
