{% extends 'base_admin.html.twig' %}

{% block title %}Edit Niveau{% endblock %}

{% block body %}
    <h1>Modifer niveau</h1>

    {{ include('niveau/_form.html.twig', {'button_label': 'Modifier'}) }}
     <br>
    <a href="{{ path('niveau_index') }}"><span class="btn btn-info">Retour</span></a>

    {{ include('niveau/_delete_form.html.twig') }}
{% endblock %}
