{% extends 'base_admin.html.twig' %}

{% block title %}New Niveau{% endblock %}

{% block body %}
    <h1>Ajouter un niveau</h1>

    {{ include('niveau/_form.html.twig') }}

    <a href="{{ path('niveau_index') }}"><span class="btn btn-info">Retour</span> </a>
{% endblock %}
